* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(/fondoWeb.jpg);
    background-size: cover;
}
/* NAV BAR */
.navBar {
    padding: 10px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.contenedorlinks {
    display: flex;
}

.contenedorlinks ul {
    flex-direction: row;
    display: flex;
    margin: 0;
    padding: 0;
}

.contenedorlinks ul li {
    list-style-type: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contenedorlinks ul li a {
    font-weight: bold;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
}
.contenedorlinks ul li:hover {
    background-color: #555;
}

.navBar .barraburger {
    position: absolute;
    /* top: 30%; */
    margin-top: 5%;
    left: 5%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
}

.barraburger .barra {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.contenedorlinks ul #btnPed {
    background-color: rgb(233, 203, 7);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.contenedorlinks ul #btnPed a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 20px 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.tituloP {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    text-align: center;
}

.imgLogo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Slider */

.contenedorSlider {
    margin: 20px auto;
    /* margin: auto; */
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgb(233, 203, 7);
}

.contenedorSlider ul{
    justify-self: center;
    width: 300%;
    padding: 0;
    display: flex;
    animation: slider 12s infinite;
    -webkit-animation: slider 12s infinite;
}

.contenedorSlider ul li {
    width: 100%;
    list-style-type: none;
    display: flex;
    padding: 1px;
}

.contenedorSlider ul li img {
    width: 100%;
    border-radius: 10px;
}
/* Frame SLider Pizza Intro */
@keyframes slider {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }
}

/* SECCION INFO */

.infoPizza {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px 0px;
}

.infoPizza .tituloInfo{
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(233, 150, 7);
    padding: 10px 10px 0px 20px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    text-align: center;
}

.infoPizza p {
    text-align: center;
    padding: 15px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: lighter;
}
/* SEPARADOR */
.separadorSec{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.separadorSec .imgSeparador{
    padding: 5px;
    width: 70px;
    height: 70px;
    /* position: absolute; */
}
.separadorSec #linea{
    border-top: 2px solid rgb(245, 238, 24);
    width: 350px;
    padding: 0;
    border-radius: 300px/10px;
}
/* MENU */
.TituloMenu {
    margin: auto;
    width: 280px;
    padding: 0px 0px 10px 0px;
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    border-bottom: 3px solid rgb(233, 150, 7);
    font-size: 40px;
}

.contenedorMenu {
    justify-content: space-around;
    display: flex;
    width: 100%;
    margin: 42px 0px;
    flex-wrap: wrap;
}
/* PIZZAS */
.cartaPizz{
    position: relative;
    width: 280px;
    height: 300px;
    margin-bottom: 20px;
}
.cartaPizz .pizza{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.cartaPizz .FrenteP{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.cartaPizz .FrenteP img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cartaPizz .FrenteP h1{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    /* line-height: 45px; */
    color: white;
    background: rgba(0,0,0,.4);
    text-align: center;
    font-family: 'Caveat';
}
.cartaPizz .BackP{
    transform: perspective(600px) rotateY(180deg);
    background: #E57373;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.cartaPizz .BackP #linkP{
    color: #f3f3f3;
    text-decoration: none;
    font-size: 40px;
    /* margin-top: 20px; */
    letter-spacing: 2px;
    font-family: 'Lobster';
}
.cartaPizz .BackP p{
    letter-spacing: 1px;
    font-family: 'Sigmar One';
    font-size: 20px;
}
.cartaPizz:hover .FrenteP{
    transform: perspective(600px) rotateY(180deg);
}
.cartaPizz:hover .BackP{
    transform: perspective(600px) rotateY(360deg);
}
/* CALZONI */
.cartaCal{
    position: relative;
    width: 280px;
    height: 300px;
    margin-bottom: 20px;
}
.cartaCal .calzon{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.cartaCal .Frente{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.cartaCal .Frente img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cartaCal .Frente h1{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0,0,0,.4);
    text-align: center;
    font-family: 'Caveat';
}
.cartaCal .Back{
    transform: perspective(600px) rotateY(180deg);
    background: #D35400;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.cartaCal .Back h2{
    font-size: 30px;
    font-family: 'Lobster';
    color: white;
}
.cartaCal .Back p{
    font-size: 15px;
    font-family: 'Sigmar One';
}
.cartaCal:hover .Frente{
    transform: perspective(600px) rotateY(180deg);
}
.cartaCal:hover .Back{
    transform: perspective(600px) rotateY(360deg);
}
/* Carta RELLENA */
.cartaRell{
    position: relative;
    width: 280px;
    height: 300px;
}
.cartaRell .Rellen{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.cartaRell .FrenteR{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.cartaRell .FrenteR img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cartaRell .FrenteR h1{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0,0,0,.4);
    text-align: center;
    font-family: 'Caveat';
}
.cartaRell .BackR{
    transform: perspective(600px) rotateY(180deg);
    background: #AF601A;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.cartaRell .BackR h2{
    font-size: 30px;
    font-family: 'Lobster';
    color: white;
}
.cartaRell .BackR p{
    font-size: 15px;
    font-family: 'Sigmar One';
}
.cartaRell:hover .FrenteR{
    transform: perspective(600px) rotateY(180deg);
}
.cartaRell:hover .BackR{
    transform: perspective(600px) rotateY(360deg);
}
/* PIE */
.piePagina{

}
.piePagina .infoContacto{
    display: flex;
    flex-flow: column;
    width: 200px;
}
.infoContacto li{
    display: flex;
    margin: 12px 0px;
    width: 150px;
    justify-content: center;
}
.infoContacto li button{
    display: flex;
    background-color: transparent;
    border-radius: 5px;
    border: 0px;
}
.infoContacto li button img{
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.infoContacto li button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
}


/* Responsive Cel - 320px */
@media (max-width: 320px){
    .imgLogo{
        width: 150px;
        height: 150px;
        padding-bottom: 10px;
    }
    .barraburger .barra{
        width: 30px;
    }
    .tituloP{
        font-size: 28px;
        padding-top: 10px;
        border-top: 1px rgb(255, 238, 3) solid;
    }
    .infoPizza p{
        font-size: 20px;
    }
    .separadorSec #linea{
        width: 20px;
    }
    /* .contenedorSlider{
        width: 100%;
    } */
}
/* Responsive - 500px */
@media (max-width: 500px){
    .separadorSec #linea{
        width: 100px;
    }
    .contenedorSlider{
        width: 100%;
    }
    .infoPizza .tituloInfo{
        font-size: 25px;
    }
    .TituloMenu{
        font-size: 25px;
    }
}
/* Responsive - 500px */
@media (max-width: 600px){
    .separadorSec .imgSeparador{
        width: 50px;
        height: 50px;
    }
    .separadorSec #linea{
        width: 200px;
    }
}
/* Responsive - 800px */
@media (max-width: 800px){
    .separadorSec #linea{
        width: 250px;
    }
}

/* Responsive - 1400px */
@media (max-width: 1400px) {
    #btnPed {
        font-size: 35px;
    }

    .tituloP {
        order: 1;
    }

    .contenedorlinks {
        order: 2;
        display: none;
    }

    .navBar .barraburger {
        display: flex;
        top: 10%;
    }

    .navBar {
        flex-direction: column;
    }

    .contenedorlinks ul {
        flex-direction: column;
        width: 100%;
    }

    .contenedorlinks ul li {
        text-align: center;
        padding: 10px 0px;
    }

    .contenedorlinks ul li a {
        padding: 5px 1px;
        font-size: 22px;
    }

    .contenedorlinks.active {
        display: flex;
    }
}

/* FUENTES */
@font-face {
    font-family: 'Rolling Stone Font';
    src: url(/Font/Rolling\ Stone\ Font.ttf);
}

